<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>短網址產生器</title>
<meta name="description" content="URL shortener reduces a long link">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">@import url(https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap);


</style>

<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<header>
<div id="logo"><a href="./" class="logo">URL Shortener</a></div>
</header>
<main>
<section id="urlbox">
<h1>Paste the URL to be shortened</h1>
<form action="shorte" method="post">
<div id="form-url">
<input type="text" name="u" placeholder="Input URL">
<div id="form-button">
<input type="submit" value="Shorten URL">
</div>
</div>
</form>
</section>

</html>