<div class="" style="margin-top:120px;">
<h4 class="text-center">非有效網址</h4>
<div class="alert alert-danger mt-4  mx-auto" role="alert">
  <span class="align-middle">
  {{errorURL}}
  </span>
</div>
<a href="/" class="back">回上一頁</a>

</div>