<div class="" style="margin-top:120px;">
  <h4 class="text-center">The URL is invalid</h4>
  <div class="alert alert-danger mt-4  mx-auto" role="alert">
    <span class="align-middle">
      http://{{errorUrl}}
    </span>
  </div>
  <div class="text-center mt-4">
    <a href="/" class="btn btn-secondary mx-auto mt-2">Back</a>

  </div>
</div>