{{!-- title --}}
<div class="title container mx-auto">
  <header>
    <div id="logo"><a href="/" class="logo">URL Shortener</a>
    </div>
</header>

  <img class="mt-5" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="">
</div>


{{!-- Input url --}}
<div class="input m-auto">
  <form action="/" method="post">
    <div class="form-group">
      <input type="url" class="form-control" placeholder="Input URL here" required name="url" value="{{url}}">
      <button class="btn btn-outline-success btn-sg" type="submit">Shorten URL</button>
      </div>
    </div>
  </form>


  {{!-- New url --}}
 {{#if shortURL}}
  <div class="result">
    <p>Success! Please use this link:</p>
    <p href="" class="px-auto mb-0 text-danger" id="generatedURL">{{origin}}/{{shortURL}}</p>
    </div>
    <button class="copy btn btn-primary" type="button" onclick="copy()">Copy</button>

  <script>
    function copy() {
      const URL = document.getElementById("generatedURL")

      navigator.clipboard.writeText(URL.innerText)
      .then(() => swal(
      'Good Job!',
      'Your short URL has been copied.',
      'success'
			))
      .catch(error => console.log(error))
  }
  </script>
  {{/if}}
</div>

