main {
    width: 500px;
}

.banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    color: #FFFFFF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

.title {
    text-align: center;
    margin-top: 110px;
}

p {
    font-size: 19px;
    text-align: center;
}

.copy-btn {
    background-color: rgba(256, 256, 256, 0.6)
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    font-family: sans-serif, Helvetica, Arial;
    text-align: center;
}

button {
    background-color: cadetblue;
    color: whitesmoke;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    padding: 15px 35px;
    cursor: pointer;
    white-space: nowrap;
    margin: 10px;
}

h1 {
    border-bottom: solid 2px grey;
}

#success {
    background: green;
}

h2 {
    flex: 1;
}

img {
    flex: 1;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.error-msg {
    width: 50%;
    text-align: center;
    background-color: salmon;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
}

input {
    width: 250px;
    margin-top: 60px;
    padding: 0.5rem;
    border: none;
    background-color: #f5f5f5;
}

p {
    color: rgb(109, 109, 255);
    font-weight: bolder;
}

a {
    text-decoration: none;
    text-align: center;
}

button.shorten,
a {
    width: 50%;
    background-color: white;
    border: 1px solid rgb(109, 109, 255);
    color: rgb(109, 109, 255);
    padding: 0.5rem;
}

button:hover {
    cursor: pointer;
}

button.copy {
    width: 12.5%;
    padding: 0.5rem;
    background-color: rgb(109, 109, 255);
    border: 1px solid white;
    color: white;
}

logo {
    font: bold 40px arial, tahoma;
    color: #222;
    word-wrap: break-word
}

a.logo {
    font: 900 36px asap, arial;
    color: #0186da;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px #ddd;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
}